/*VISUAL*/
.visual {
  margin-top: 120px; /*헤더 높이값*/
  background-image: url("../images/visual_bg.jpg"); /*배경 이미지*/
  background-position: center;
}

.visual .inner {
  height: 646px; /*COMMON 부분에 inner 값을 설정했기에 높이만 설정해줌*/
}

.visual .title {
  position: absolute;
  top: 88px;
  left: -10px;
}

.visual .title .btn { /*타이들이 이동하면 버튼도 함께 움직이게 묶어둠*/
  position: absolute;
  top: 259px;
  left: 173px;
}

.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}

.visual .cup1.text {
  position: absolute;
  top: 38px;
  right: 171px;
}

.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}

.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}

.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}

.visual .fade-in { /*점점 흐려짐*/
  opacity: 0;
}

/* NOTICE */
.notice {
  position: relative;
}

.notice .notice-line {

}

.notice .notice-line .bg-left { /*왼쪽 공지사항 바 만들기*/
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}

.notice .notice-line .bg-right { /*오른쪽 공지사항 바 만들기*/
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice .notice-line .inner { /*공지사항 안쪽 높이 제어*/
  height: 62px;
  display: flex;
}

.notice .notice-line .inner__left { /*왼쪽 공지사항 중 왼쪽*/
  width: 60%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center; /*수직정렬*/
}

.notice .notice-line .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}

.notice .notice-line .inner__left .swiper-container {
  height: 62px;
  flex-grow: 1; /*최대한 옆으로 늘어남*/
}

.notice .notice-line .inner__left .swiper-slide { /*슬라이드 안 내용 설정*/
  height: 62px;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner__left .swiper-slide a { /*슬라이드 글씨 설정*/
  color: #fff;
}

.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center; /*수직정렬*/
}

.notice .notice-line .inner__left .notice-line__more .material-icons {
  color: #fff;
  font-size: 30px;
}

.notice .notice-line .inner__right { /*오른쪽 공지사항 중 오른쪽*/
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end; /*오른쪽 정렬*/
  align-items: center;
}

.notice .notice-line .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}

.notice .notice-line .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice .notice-line .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}

.notice .promotion { /*프로모션 부분*/
  height: 693px;
  background-color: #f6f5ef;
  position: relative;
  transition: height .4s;
  overflow: hidden;
}

.notice .promotion.hide {
  height: 0;
}

.notice .promotion .swiper-container { /*프로모션 총 3개 사진 너비*/
  width: calc(819px * 3 + 20px); /*819 X 3 + 20*/
  height: 553px;
  position: absolute;
  top: 40px;
  left: 50%;
  /*오른쪽에 있던 컨테이너의 절반만큼 왼쪽으로 당겨서 가운데가 됨*/
  margin-left: calc((819px * 3 + 20px) / -2);  
}

.notice .promotion .swiper-slide { /*전체적인 슬라이드 투명도를 낮춤*/
  opacity: .5;
  transition: opacity 1s;
  position: relative;
}

.notice .promotion .swiper-slide-active { /*가운데 슬라이드만 집중시켜줌*/
  opacity: 1;
}

.notice .promotion .swiper-slide .btn { /*프로모션 슬라이드 버튼만들기*/
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet { /*슬라이드 동그라미*/
  background-color: transparent; /*배경색을 사용하지 않겠다*/
  background-image: url("../images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px; /*오른쪽마다 6px씩 여백을 주겠다*/
  outline: none;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0; /*가장 마지막 동그라미에는 6px의 여백을 주지 않겠다*/
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}

.notice .promotion .swiper-prev,
.notice .promotion .swiper-next { /*다중 선택자*/
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}

.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}

.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}

.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}

/* REWARDS */
.rewards {
  position: relative;
}

.rewards .bg-left { /*리워드 이미지 왼쪽 부분이 끝까지 닿도록 만듦*/
  width: 50%;
  height: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
}

.rewards .bg-right { /*리워드 이미지 오른쪽 부분이 끝까지 닿도록 만듦*/
  width: 50%;
  height: 100%;
  background-color: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
}

.rewards .inner {
  background-image: url("../images/rewards.jpg");
  height: 241px;
}

.rewards .btn-group { /*회원가입, 로그인,선물하기 버튼*/
  position: absolute;
  bottom: 24px;
  right: 0;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}

.rewards .btn-group .btn.sign-up {
  margin-right: 10px;
}

.rewards .btn-group .btn.sign-in {
  width: 110px;
}

.rewards .btn-group .btn.gift {
  margin-top: 10px;
  flex-grow: 1; /*증가너비의 비율*/
}

.youtube {
  position: relative;
  height: 700px;
  background-color: #333;
  overflow: hidden;
}

.youtube .youtube__area {
  width: 1920px;
  background-color: orange;
  position: absolute;
  left: 50%;
  margin-left: calc(1920px / -2); /*왼쪽 기준 50%(반)로 넘어간 영역을 중간으로 끌어옴*/
  top: 50%;
  margin-top: calc(1920px * 9/ 16 / -2);
}

.youtube .youtube__area::before { /*가상요소 선택자 before*/
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%; /*16:9 비율을 유지함*/
}

.youtube .youtube__cover { /*유튜브 영상이 나오기 전 배경 설정*/
  background-image: url("../images/video_cover_pattern.png");
  background-color: rgb(0, 0, 0, .3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.youtube .inner {
  height: 700px;
}

.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}

.youtube .floating2 {
  position: absolute;
  top: 350px;
  left: 150px;
}

/*SEASON PRODUCT*/
.season-product {
  background-image: url("../images/season_product_bg.jpg");
}

.season-product .inner {
 height: 400px;
}

/*이전에는 유튜브창 기준 bottom: -200px;으나 현재는 season-product창 기준이라 top: -200px;로 수정함*/
.season-product .floating3 { 
  position: absolute;
  top: -200px;
  right: 0;
}

.season-product .text-group {
  position: absolute;
  top: 110px;
  right: 100px;
}

.season-product .text-group .title {
  margin-bottom: 10px;
}

.season-product .text-group .description {
  margin-bottom: 15 px;
}

.season-product .text-group .more {

}

/*RESERVE COFFEE*/
.reserve-coffee {
  background-image: url("../images/reserve_bg.jpg");
}

.reserve-coffee .inner {
  height: 400px;
}

.reserve-coffee .reserve-logo {
  position: absolute;
  top: 110px;
  left: 0;
}

.reserve-coffee .text-group {
  position: absolute;
  top: 124px;
  left: 208px;
}

.reserve-coffee .product {
  position: absolute;
  top: 0;
  right: 0;
}

/*PICK YOUR FAVORITE*/
.pick-your-favorite {
  background-image: url("../images/favorite_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /*기본적으로 이미지가 같이 스크롤 되는데 이미지가 뷰포트에 고정됨*/
  background-size: cover; /*배경의 이미지를 요소에 더 넓은 너비에 맞춰서 출력됨*/
}

.pick-your-favorite .inner {
  padding: 110px 0;
}

.pick-your-favorite .text-group {
  margin-left: 100px;
  width: 362px;
  display: flex;
  flex-wrap: wrap;/*줄바꿈이 가능한 형태*/
  justify-content: flex-end;
}

.pick-your-favorite .title {
  margin-bottom: 40px;
}

.pick-your-favorite .description {
  margin-bottom: 40px;
}

/*RESERVE STORE*/
.reserve-store {
  background-image: url("../images/reserve_store_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.reserve-store .inner {
 height: 600px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.reserve-store .medal { /*medal 클래스는 가로 너비가 최대한으로 넓어지려함*/
  width: 334px; /*front, back 크기만큼 설정해줌*/
  height: 334px;
  perspective: 600px; /*원근거리*/
}

.reserve-store .medal .front,
.reserve-store .medal .back { /*메달 앞,뒷면 크기 설정*/
  width: 334px;
  height: 334px;
  position: absolute;
  backface-visibility: hidden;
  transition: 1s; /*커서 올리면 1초동안 뒤집어짐*/
}

.reserve-store .medal .front {
  position: absolute;
  transform: rotateY(0deg);
}

.reserve-store .medal:hover .front { /*메달 앞면 전환효과*/
  transform: rotateY(180deg);
}

.reserve-store .medal .back {
  transform: rotateY(-180deg);
}

.reserve-store .medal:hover .back { /*메달 뒷면 전환효과*/
  transform: rotateY(0deg);
}

.reserve-store .medal .back .btn {/*메달 back 버튼설정*/
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}

/*FIND STORE*/
.find-store {
  background-image: url("../images/find_store_bg.jpg");
}

.find-store .inner {  
  height: 400px;
}

.find-store .texture1 {
  position: absolute;
  top: 0;
  left: 400px;
}

.find-store .texture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.find-store .picture { /*사진을 원모양으로 만듦*/
  border-radius: 50%;
  box-shadow: 2px 2px 8px rgb(0, 0, 0, .5);
  position: absolute;
}

.find-store .picture1 {
  top: -60;
  left: 0;
}

.find-store .picture2 {
  top: 150px;
  left: 250px;
}

.find-store .text-group {
  position: absolute;
  top: 120px;
  left: 550px;
}

.find-store .text-group .title {
  margin-bottom: 20px;
}

.find-store .text-group .description {
  margin-bottom: 20px;
}

/*AWARDS*/
.awards {
  background-color: #272727;
}

.awards .inner {
  padding: 40px 0;
}

.awards .swiper-container {
  width: 100%;
  height: 40px;
}

.awards .swiper-prev,
.awards .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  color: #fff;
  opacity: .3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.awards .swiper-prev {
  left: -100px;
}

.awards .swiper-next {
  right: -100px;
}

.awards .swiper-prev:hover,
.awards .swiper-next:hover {
  background-color: #fff;
  color: #333;
}

#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}